* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    /* numero de columnas que quiero mostrar */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;/*permite jugar con los tamanos y tiene queser seimpre el numero de las columnas*/
    /* grid-template: auto auto auto auto; */
    /* align-items: center;
    justify-content: center; */
}
.container div {
    padding: 10px;
    font-size: 2em;
    text-align: center;
}
.reset {
    border: solid;
    grid-column: 1 / 3;/* Cuenta el nuemro de lineas */
    /* grid-column: 1 / span 2; */
    /* el span suma a la columna dando 3 */
}
.equal {
    border: solid;
    grid-column: 3 / 5;/* Cuenta el nuemro de lineas */
}
.item1 {
    background-color: aqua;
    grid-row: 1 / 2;
    /* grid column se hereda pq estan dentro de un grid */
}
.item2 {
    background-color: cadetblue;
    grid-row: 1 / 3;
}
.item3 {
    background-color: coral;
    grid-row: 1 / 4;
}
.item4 {
    background-color: yellow;
    grid-row: 1 / 5;
}